<h2><%= @activity.title %></h2>
<% @activity.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p><%= @activity.content %></p>

<%= link_to "Retourner à la liste", activities_path, class:'btn btn-primary'  %>

<%= link_to "Supprimer", activity_path(@activity),
     method: :delete,
    data: { confirm: "Are you sure?" }%>

<%= link_to "Rajouter une review", new_activity_review_path(@activity)  %>

<h3> Reviews </h3>

<ul class="list-group">
  <% @activity.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
