<h2><%= @activity.title %></h2>
<p><%= @activity.content %></p>
<p><%= @activity.duration %></p>
<p><%= @activity.difficulty %></p>

<%= link_to "Retourner à la liste", activities_path, class:'btn btn-primary'  %>
